@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Nanum+Pen+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #70fdf4;
    font-family: 'dosis', sans-serif;
    font-family: 'Nanum Pen Script', 'cursive';
}

li, a, button {
    font-family: 'dosis', sans-serif;
    font-family: 'Nanum Pen Script', 'cursive';
    font-weight: 400;
    font-size: 18px;
    color: #F470FD;
    text-decoration: double;
}

/*header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    background-color: #F470FD;
} */

.navbar {
    float: right;
    position: relative;
    display: flex;
    /*flex: row;*/
    background-color: #70fdf4;
    overflow: hidden;
    top: 0px;
    text-align: right;
    font-size: 10em;
    width: auto;
    /*min-width: 600px
    /*border-bottom: #F470FD solid 5px;*/

}

.navbar a {
    text-decoration: none;
    text-align: right;
    transition: all 0.3s ease 0s;
    font-size: 24px;
    justify-content: space-between;
}

.navbar a:hover {
    background-color: #FDF470;
    color: #F470FD;
}

.navbar .icon {
    display: none;
}
 
.navbar-ul {
    top: 0px;
    
}

.logo {
    top: 0px;
    margin-top: 95px;
    /*border-bottom: #F470FD solid 5px;*/
    
}

.logo img {
    /*margin-top: 95px;*/
    max-width: 22%;
}

.book-section{
    display: flex;
    position: relative;
    justify-self: center;
    max-height: 40%;
    max-width: 50%; 
    margin-left: auto;
    margin-right: auto;
    /*padding-left: 150px;*/
   text-align: center;
}

.book-section .book-content {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;

}

.book-section .dawn {
    max-width: 80%;
    max-height: 450%
    
}

.book-section .dawn-img{
    max-width: 60%;
    max-height: 45%;
   text-align: center;
    
}

.social-buttons {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 25px;
}
.form-containter {
    display: flex;
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.form-container .form-text {
    display: flex;
    position: relative;
    margin-top: 75px;
    justify-content: center;
    color: #F470FD;
}

#newsletter {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}

.form-control {
    border: 1px solid #FDF470;
    padding: 1em;
    width: 15%;
    background-color: #ffff;
    font-size: 20px;
}

.signupbtn {
    border: 1px solid #000000;
    padding: 1em;
    background-color: #FDF470;
}

.signupbtn:hover {
    background-color: #F470FD;
    color:#FDF470;
}

.waiver-text{
    text-align: center;
    display: block;
    font-size: 1em;
    padding-top: 2em;
}
.waiver{
    text-align: center;
    text-decoration: underline;
    
}


@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }  
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;}
    .navbar.responsive .icon {
        position: relative;
        text-align: center;
        

    }
    .navbar{
        font-size: 1em;
    }
    .navbar.responsive a {
        float: none;
        display: flex;
        text-align: center;
    }
    .active{
        text-align: center;
        margin: 0 auto;
        display: block;
    
    }
    .book-section .dawn-img{
    max-width: 100%;
}
    .logo img {
        /*text-align: center;*/
        margin-top: 0px;
        margin: 0 auto;
        display: block;
        
    }
    .logo-img {
        text-align: center;
       /* justify-content: center;
        align-self: center;
        margin-top: 0px;*/
    }
    .logo {
        text-align: center;
        justify-content: center;
        align-self: center;
        padding-right: 40%;
        padding-left: 30%;
        width: 30%;
        
    }
    .icon {
        display: flex;
        position: relative;
        text-align: center;
        align-self: center;
        justify-content: center;
        
    }

    .icon a {
        text-align: center;
    }

    .navbar {
        display: flex;
        float: none;
        height: 80%;
        overflow: hidden;
}
    .navbar-ul {
        text-align: center;
        /*width: 100%;*/
        height: 15%;
    }
    .fa-bars {
        text-align: center;
        line-height: 1;
    }

}



@media screen and (max-width: 800px) {
   /* .navbar{
        /*min-width: 700px; //stops the navbar from showing//
    }*/

    
}  

@media screen and (max-width: 650px) {
    /*.book-section{
        padding-left: 80px;
    }*/
    
}
    


